/*TODO Убрано для проверки*/

.header1{
    font-size: 25px;
    font-weight: 700;
    line-height: 35px;
}

.header2{
    font-size: 14px;
    font-weight: 700;
    line-height: 17px;
}

.header3{
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
}

.header4{
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
}

.header4Regular{
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
}

.headerExtra{
    font-size: 21px;
    font-weight: 600;
    line-height: 26px;
}

.textButton{
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
}

.textButtonSmall{
    font-size: 14px;
    font-weight: 600;
    line-height: 17px;
}

.textButtonUppercase{
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
    text-transform: uppercase;
}

.text{
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
}

.tooltip{
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
}

.boldTooltip{
    font-size: 12px;
    font-weight: 700;
    line-height: 14px;
}

.semiBoldTooltip{
    font-size: 12px;
    font-weight: 600;
    line-height: 14px;
}

.textSmall{
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
}

.textSemibold{
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
}